li{
  padding: 2rem;
  background-color: #4c4c4c;
  margin-bottom: 1rem;
  color: white;
  border-radius: 0.5rem;
  list-style-type: none;

  strong{
    font-size: 2rem;
    border-bottom: 0.1rem solid #9c9c9c;
  }

  label{
    display: block;
    color: #9c9c9c;
    margin-bottom: 1rem;
  }

  p{
    margin: 1rem 0; 
  }

  a{
    text-decoration: none;
    color: #04D361;
  }
}