a {
  text-decoration: none;
  color: #04D361;

  li {
    padding: 2rem;
    background-color: #4c4c4c;
    margin-bottom: 1rem;
    color: white;
    border-radius: 0.5rem;
    list-style-type: none;

    @media (max-width: 600px) {
      section {
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        justify-content: space-between;
  
        strong {
          font-size: 0.5rem;
        }
      }

      time {
        color: #04D361;
        display: block;

      }

    }

    section {
      flex-wrap: wrap;
      align-items: center;
      display: flex;
      justify-content: space-between;

      strong {
        font-size: 1.5rem;
        display: flex;
      }
    }

    label {
      display: block;
      color: #9c9c9c;
      margin-bottom: 1rem;
    }

    p {
      margin: 1rem 0;
    }

    &:hover {
      background-color: #1f1f1f;
    }
  }


}